Binaries
DerivedDataCache
Intermediate
Saved
Content/KiteDemo
Content/InfinityBladeGrassLands
Content/StarterContent/
Content/ParagonProps
Content/SampleMap
Content/Textures
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace